# Core
pandas
numpy
scikit-learn

# NLP
spacy
sentence-transformers
openai
langchain
re

# Web App
streamlit
streamlit-folium

# Visualization
matplotlib
seaborn

# API
requests

# Vector DB
chromadb
